@import "vars-standard.css";
body, html{
    background-color: var(--background-color, white);
    font-family: var(--main-font);
    min-height: 100dvh;

    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body{ /* for footer to stick at the bottom, please don't kill me */
    display: flex;
    flex-direction: column;
}

a { color: var(--secondary-color, green); }
li[data-active] {
    font-weight: bold;
    & li {
        font-weight: normal;
    }
}

/* header */
/* inspiration from https://codepen.io/mutedblues/pen/MmPNPG?editors=1100*/
header{
    padding-top: 0;
    background-color: var(--secondary-color);
    & h1 {
        margin: 0;
        padding: 2rem;
    }
}

nav{
    color: var(--secondary-color, green);
    background-color: var(--primary-color);
    padding: 0 1em;
    margin: 0;
    padding: 1em;
    
    & h2{
        display: inline;
        float: left;
        margin: 0;
        text-decoration: none;      
    }
    & input{ display: none; }
    & ul#menu{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        clear: both;

        max-height: 0; /* start closed */
        transition: max-height .5s cubic-bezier(0, 1, 0, 1); /* animate when opening */
        /* I see the problems of using max-height for animating it, but I can't think of a better option */
        
        & ul{
            text-indent: 1em;
        }
    }
    #menu-btn:checked ~ ul#menu {
        max-height: 100dvh;
        transition: max-height .5s ease-in-out;
    }
    #menu-btn:checked ~ #menu-icon {
        transform: rotate(180deg);
        transition-duration: .3s;
    }
      
    & li a{
        display: block;
        padding: 10px 10px;
        border-right: 1px solid var(--secondary-color);      
    }
    & #menu-icon {
        transition: all .5s ease-out;
        cursor: pointer;
        float: right;
        position: relative;
        user-select: none;
    }
    & label{
        padding: 5px; /* so it's easier to click */
    }

    @media (min-width:50em){
        & h2{
            float: none;
        }
        & li {
            float: left;
        }
        & li a {
            padding: .5em 1em;
        }
        & ul {
            clear: none;
            float: right;
            max-height: none !important; /* still takes 0 because of id specificity, but I need these for both ul, parent and nested*/
        }
        & #menu-icon {
            display: none;
        }
        & ul ul{
            display: block;
            visibility: hidden;
            position: fixed;
            width: 13em;
            right: 0px;
            & li a{ border: 0; text-align: center;}
        }
        & li:hover>ul{
            visibility: visible;
            background-color: var(--primary-color, white);
        }
    }
}
/*-----------------------------------------------------------*/

main{
    padding: 0 2em;
    max-width: 1000px;
    margin: 0 auto;
}

footer{
    background-color: var(--primary-color, white);
    color: var(--secondary-color, black);
    padding: 1em;
    text-align: center;

    margin-top: auto;
    /* stick to bottom when page does not have enough content */
}

article#hobby1 details>div#photos{ /* grid display does not work otherwise*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    & picture {
        display: inline-block;
        padding: 1em;
        text-align: center;
    }
    & source, img {
        max-width: 100%;
        border-radius: 10%;
    }
}

/*---------------------------------------forms----------------------------------------------*/
textarea{
    resize: none;
    width: 100%;
    margin: 1em 0;
}
form #control-area{
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em 0 0 0;
}
form button{
    font-size: large;
    width: 6em;
}
form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}
form output.error-message{
    color: red;
}
form output.info-message{
    color: blue;
}
/* label span.required::after{
    content: '*';
    color: red;
} */
form {margin-bottom: 1em;}
form-field:has(input:required, textarea:required) label::after{
    content: ' *';
    color: red;
}

input[type='email']:user-invalid ~ output.error-message::after{
    content:'Please input a valid email adress'; 
}
input[type='email']:user-invalid ~ output.info-message::after{
    content:'An email address is of the form user@domain'; 
}

input#name:user-invalid ~ output.error-message::after{
    content:'Please input your full name'; 
}
input#name:user-invalid ~ output.info-message::after{
    content:'Input a name of at least 2 characters and at most 50'; 
}

textarea:invalid ~ output.error-message::after{
    content:'Please type your comment.'; 
}
textarea:invalid ~ output.info-message::after{
    content:'Max comment size is 500 characters.'; 
}
/*------------------------------------------------------------------------------------------*/

aside {
    font-size: small;
    text-align: right;
}
p { text-indent: 2em; }
ol.lab li { margin-top: 1em; }
iframe { resize: both ;}
div#examples {
    display: flex;
    flex-direction: row;
    
    & div#pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 3;
        
        & figure{
            flex-shrink: 1;
            margin: 1em;
            text-align: center;
        }
        & source, img{
            max-width: 100%;
            border-radius: 10%;
        }
    }
    & div#table{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & table {
            width: 100%;
            max-width: 500px;
            table-layout: auto;
        }
    }
}
div#info {
    display: flex;
    flex-direction: row;
}

li:has(> div#animated-element){
    height: 300px;
}

section > div.section-body{ margin-left: 2em; }

div#animated-element{
    /* highly inspired from https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_count2 */
    border: 5px solid black;
    border-radius: 0;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color:blue; left:0px; top:0px; border-radius: 0;}
    25%  {background-color:yellow; left:200px; top:0px; border-radius: 50%;}
    50%  {background-color:red; left:200px; top:200px;border-radius: 0;}
    75%  {background-color:yellow; left:0px; top:200px;border-radius: 50%;}
    100% {background-color:blue; left:0px; top:0px;border-radius: 0;}
}
@keyframes example-phone {
    0%   {background-color:blue; left:0px; border-radius: 0;}
    50%  {background-color:red; left:150px;border-radius: 50%;}
    100% {background-color:blue; left:0px;border-radius: 0;}
}

@media screen and (max-width: 600px){
    details>section {
        display: flex;
        flex-direction: column;
    }
    div#examples, div#info {
        flex-direction: column;
    }
    div#animated-element{
        animation-name: example-phone;
        animation-duration: 3s;
    }
}