@import "vars-standard.css";
body, html{
    background-color: var(--background-color, white);
    font-family: var(--main-font);
    min-height: 100dvh;

    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body{ /* for footer to stick at the bottom, please don't kill me */
    display: flex;
    flex-direction: column;
}

a { color: var(--secondary-color, green); }
li[data-active] { font-weight: bold; }

/* header */
header{
    padding-top: 0;
    background-color: var(--secondary-color);
    & h1 {
        margin: 0;
        padding: 2rem;
    }
}

nav{
    color: var(--secondary-color, green);
    background-color: var(--primary-color);
    padding: 0 1em;
    margin: 0;
    padding: 1em;
    
    & h2{ display: inline; }
    & ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;      
    }
    & li a{
        display: block;
        padding: 20px 20px;
        border-right: 1px solid var(--secondary-color);      
    }
    
    & ul ul{
        display: block;
        visibility: hidden;
        position: fixed;
    }
    & li:hover>ul{
        visibility: visible;
        background-color: var(--primary-color, white);
    }

    @media (min-width:48em){
        li {
            float: left;
        }
        li a {
            padding: .5em 1em;
        }
        ul {
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon {
            display: none;
        }
    }
}
/*-----------------------------------------------------------*/

main{
    padding: 0 2em;
}

footer{
    background-color: var(--primary-color, white);
    color: var(--secondary-color, black);
    padding: 1em;
    text-align: center;

    margin-top: auto;
    /* stick to bottom when page does not have enough content */
}

details>section{ /* grid display does not work otherwise*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 600px){ display: flex; flex-direction: column; } 
    & picture {
        display: inline-block;
        padding: 1em;
        text-align: center;
    }
    & source, img {
        max-width: 100%;
        border-radius: 10%;
    }
}

aside {
    font-size: small;
    text-align: right;
}
p{ text-indent: 2em; }
div#examples{
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 600px){ flex-direction: column; } 
    

    & section#pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 2;

        & figure{
            margin: 1em;
            text-align: center;
        }
        & source, img{
            width: 100%;
            max-width: 50vh;
            min-width: 25dvw;
            border-radius: 10%;
        }
    }
    & section#table{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        & table {
            width: 100%;
            max-width: 500px;
            table-layout: auto;
        }
    }
}